server:
  applicationConnectors:
    - type: http
      port: ${MARQUEZ_PORT:-5000}
      httpCompliance: RFC7230_LEGACY
  adminConnectors:
    - type: http
      port: ${MARQUEZ_ADMIN_PORT:-5001}

db:
  driverClass: org.postgresql.Driver
  url: jdbc:postgresql://${POSTGRES_HOST:-marquez-db}:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-marquez}
  user: ${POSTGRES_USER:-marquez}
  password: ${POSTGRES_PASSWORD:-marquez}

migrateOnStartup: ${MIGRATE_ON_STARTUP:-true}

graphql:
  enabled: ${GRAPHQL_ENABLED:-true}

logging:
  level: ${LOG_LEVEL:-INFO}
  appenders:
    - type: console
